@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a tu primera página</h1>
    <p>Aprende más sobre <a href="https://docs.microsoft.com/aspnet/core">Crear aplicaciones con ASP .NET Core</a>.</p>
</div>

